<h1>
  <div>
    {{title}}
  </div>
  <div>
    {{BrowserUserAgent}}
  </div>
  <br>
  Property Binding
  <app-property-binding [result]='"I am learning Angular 2"'></app-property-binding>
  <br>
  Event Binding
  <app-event-binding (clickedTwo)='onClickedTwo($event)'></app-event-binding>
  <br>
  Property and Event Binding
  <app-event-property-binding (searchClick)="onSearchClick($event)">
  </app-event-property-binding>
  <br>
  you are searching for: {{searchMessage}}
  <br>
  <app-directives></app-directives>
  <br>
  <app-temperature [f]="101"></app-temperature>
</h1>
