<span class="radioClass">Show: </span>

<input type="radio" name="options" value="all" 
  [(ngModel)]="selectedGenderValue" 
  (change)="onGenderChanged()">
<span class="radioClass">{{"All (" + all + ")"}}</span>

<input type="radio" name="options" value="male" 
  [(ngModel)]="selectedGenderValue" 
  (change)="onGenderChanged()">
<span class="radioClass">{{"Male (" + male + ")"}}</span>

<input type="radio" name="options" value="female" 
  [(ngModel)]="selectedGenderValue" 
  (change)="onGenderChanged()">
<span class="radioClass">{{"Female (" + female + ")"}}</span>

<input type="text"
value="test 1"
[(ngModel)]="myInput"
(change)="onMyInputChanged()">
<input type="text"
value="test 2"
[(ngModel)]="myInput"
(change)="onMyInputChanged()">