<span class="radioClass">Show: </span>

<input type="radio" name="options" value="all" 
  [(ngModel)]="selectedGenderValue" 
  (change)="onGenderChanged()">
<span class="radioClass">{{"All (" + all + ")"}}</span>

<input type="radio" name="options" value="male" 
  [(ngModel)]="selectedGenderValue" 
  (change)="onGenderChanged()">
<span class="radioClass">{{"Male (" + male + ")"}}</span>

<input type="radio" name="options" value="female" 
  [(ngModel)]="selectedGenderValue" 
  (change)="onGenderChanged()">
<span class="radioClass">{{"Female (" + female + ")"}}</span>

<!-- testing 2 control bound to the same property in the component -->
<input type="text"  
  [(ngModel)]="myInput"
  (change)="onMyInputChanged()">
<input type="text"
  [(ngModel)]="myInput"
  (change)="onMyInputChanged()">

  <div style="margin-top: 10px">
      <app-dummy [message]="myInput"></app-dummy>
  </div>