<div class='image'>
    <img src={{product.productImageUrl}} />
</div>
<div class='middle aligned content'>
    <div class='header'>
        <a (click)="onUpVoteClick(product.id)"><i class='large caret up icon'></i></a> {{product.votes}}
    </div>
    <div class='description'>
        <a href={{product.url}}>{{product.title}}</a>
        <p>{{product.description}}</p>
    </div>
    <div class='extra'>
        <span>Submitted by:</span>
        <img src={{product.submitterAvatarUrl}} class='ui avatar image' />
    </div>
</div>
