/* You can add global styles to this file, and also import other style files */

#content {
  margin-bottom: 4em;
}

.ui.dividing.header {
  margin-top: 1em !important;
  margin-bottom: 2em;
}

i.icon {
  margin: 0;
}