<div class='content'>
  <div class='header'>
    {{timer.title}}
  </div>
  <div class='meta'>
    {{timer.project}}
  </div>
  <div class='center aligned description'>
    <h2>
      {{elapsedString}}
    </h2>
  </div>
  <div class='extra content'>
    <span class='right floated edit icon'>
        <i class='edit icon'></i>
    </span>
    <span class='right floated trash icon'>
        <i class='trash icon'></i>
    </span>
  </div>
</div>
<div class='ui bottom attached blue basic button'>
  Start
</div>
