<div class='content'>
  <div class='header'>
    {{timer.title}}
  </div>
  <div class='meta'>
    {{timer.project}}
  </div>
  <div class='center aligned description'>
    <h2>
      {{elapsedString}}
    </h2>
  </div>
  <div class='extra content'>
    <span class='right floated edit icon'>
        <span class='edit icon'></span>
    </span>
    <span class='right floated trash icon'>
        <span class='trash icon'></span>
    </span>
  </div>
</div>
<div class='ui bottom attached blue basic button'>
  Start
</div>