<div class='content'>
  <div class='ui form'>
    <div class='field'>
      <label>Title</label>
      <input type='text' defaultValue={{timer.title}} />
    </div>
    <div class='field'>
      <label>Project</label>
      <input type='text' defaultValue={{timer.project}} />
    </div>
    <div class='ui two bottom attached buttons'>
      <button class='ui basic blue button'>
                  submitText
              </button>
      <button class='ui basic red button'>
                  Cancel
              </button>
    </div>
  </div>
</div>