<div class='content'>
  <div class='header'>
    {{timer.title}}
  </div>
  <div class='meta'>
    {{timer.project}}
  </div>
  <div class='center aligned description'>
    <h2>
      {{elapsedString}}
    </h2>
  </div>
  <div class='extra content'>
    <span class='right floated edit icon'
      (click)="onEditClick()">
        <i class='edit icon'></i>
    </span>
    <span class='right floated trash icon'
      (click)="onDeleteClick()">
        <i class='trash icon'></i>
    </span>
  </div>
</div>
<div class='ui bottom attached blue basic button'>
  <app-timer-action-button
    (actionButtonClick)="onActionButtonClick($event)"
    [timerIsRunning]="timer.runningSince"
    [timerId]="timer.id">
  </app-timer-action-button>
</div>
